@font-face{
	font-family : raleway;
	src : url(../fonts/Raleway-Regular.ttf);
	src : url(../fonts/Raleway-Black.ttf);
	src : url(../fonts/Raleway-Bold.ttf);
	src : url(../fonts/Raleway-ExtraBold.ttf);
	src : url(../fonts/Raleway-ExtraLight.ttf);
	src : url(../fonts/Raleway-Light.ttf);
	src : url(../fonts/Raleway-Medium.ttf);
}
body{
	background-color: #3b3b3d;
}
.text-600{
	font-weight: 600;
}
table *{
	transition : .1s;
}
.content-wrapper{
	background-color: #2d3f50;
}
.navbar-dark,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav{
	background-color: #293745 !important;
}
.card.dark-standard{
	background-color: #3b4c62;
	color: #fff;
}
.card.dark-standard .list-group-flush li{
	background-color: transparent;
	border-color: #eee;
}
.table-heading th {
	font-size: .8rem;
}
.card-body-icon .fa {
	color: #56C4AD;
}
.swal-overlay
{
	background-image: linear-gradient(to right, #56c4ad, #00b4b8, #00a1c1, #008dc3, #2576bb);
}
.dtp div.dtp-actual-year{
	color: #fff;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover,
{
	background-color: #56C4AD;
	color: #fff;
}
.dtp div.dtp-date, .dtp div.dtp-time{
	background-color: #56C4AD;
}
#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link,
#mainNav .navbar-brand,
.text-default
{
	color: #56C4AD;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a,
.modal-header,
.dtp > .dtp-content > .dtp-date-view > header.dtp-header,
.dtp table.dtp-picker-days tr > td > a.selected
{
	background-color: #56C4AD;
	color: #fff;
}
hr{
	border-color: #56C4AD;
}
.dtp div.dtp-picker-month{
	color: #56C4AD;
}
.btn-mild{
	background-color: #8e5fe4;
	color: #fff;
}
.btn-mild:hover{
	background-color: #6e42bf;
}
.btn-standard{
	background-color: #56C4AD;
	color: #fff;
}
.btn-standard:hover{
	background-color: #3b9481;
}
.table.dataTable{
	border-collapse: collapse !important;
}
.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th{
	border: 0;
}
.table-borderless thead th{
	border-top: 2px solid #dee2e6;
	border-bottom: 2px solid #dee2e6;
}
.has-danger-custom .form-control{
	color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgb(220, 53, 69, .25);
    box-shadow: 0 0 0 0.2rem rgb(220, 53, 69, .25);
}

.has-danger-custom .invalid-feedback-custom{
	display: block;
}
.invalid-feedback-custom{
	display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.to-rel{
	position: relative;
}
.custom-delete{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: .2s;
}
.for-cart:hover .to-rel .custom-delete{
	opacity: 1;
	visibility: visible;
}

.login-card {
	background-color: transparent;
	color: #fff;
}
.login-card > img{
	opacity: .1;
}
.w-30px{
	width: 30px;
}
.h-250px{
	min-height: 250px;
}